:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 35px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

nav a:hover {
    color: #fff;
}