:root {
    --vermelho: #e50914;
    --preto: #141414;
}


nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

nav a:hover {
    color: #fff;
}

/* main */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa.jpg');
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    

    text-transform: uppercase;
}

.botao:hover {
    background-color: #fff;
    color: #000;
}

.botao i {
    margin-right: 5px;
}

.botao a {
    text-decoration: none;
    color: #fff;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 10px;
}